<section class="benefits-section" id="benefits">
  <div class="benefits-container container">
    <div class="benefits-title-container">
    <h2 class="section-title benefits-title">
      <span>BENEFITS</span> OF WORKING WITH ME
    </h2>
</div>
<div></div>
    <ul class="benefits-list grid-container">
      <li class="benefit-item grid-item1">
        <div class="icon">
          <svg class="bnf-icons">
            <use href="/img/icons-light.svg#icon-user"></use>
          </svg>
        </div>
        <p class="benefits-list-title caption-text">EXPERTISE</p>
        <p class="benefits-list-title-text">
          With extensive experience in development, I have a deep understanding
          of programming and website development.
        </p>
      </li>
      <li class="benefit-item grid-item2">
        <div class="icon">
          <svg class="bnf-icons">
            <use href="/img/icons-light.svg#icon-message"></use>
          </svg>
        </div>
        <p class="benefits-list-title">COMMUNICATION</p>
        <p class="benefits-list-title-text">
          Understanding your needs and wants is my priority and I am always
          available for discussions and open to corrections.
        </p>
      </li>
      <li class="benefit-item grid-item3">
        <div class="icon">
          <svg class="bnf-icons">
            <use href="/img/icons-light.svg#icon-brush"></use>
          </svg>
        </div>
        <p class="benefits-list-title">ART</p>
        <p class="benefits-list-title-text">
          Thanks to my creative nature, I am ready to accept challenges and help
          you bring your ideas to life.
        </p>
      </li>
      <li class="benefit-item grid-item4">
        <div class="icon">
          <svg class="bnf-icons">
            <use href="/img/icons-light.svg#icon-hourglass"></use>
          </svg>
        </div>
        <p class="benefits-list-title">URGENT EXECUTION</p>
        <p class="benefits-list-title-text">
          I understand how important time is to you. Ready to work quickly and
          efficiently, without reducing the quality of work.
        </p>
      </li>
    </ul>
  </div>
</div>
</section>
