<!-- <footer id="footer">
    <div class="footer-container">
        <div class="footer-logo-socials">
            <a class="footer-logo" href="../index.html">LLOYD<span class="text-color">JEFFERSON.</a>
            </div>
            <div class="footer-top">
        <ul class="footer-socials-list">
          <li class="footer-social-item">
            <h2 class="footer-title">Instagram</h2>
            <a
              href=" https://www.instagram.com/goitclub/ "
              class="footer-social-link"
              target="_blank"
              rel="noopener noreferrer"
            >
            </a>
          </li>
           <li class="footer-social-item"></li>
            <h2 class="footer-title">Facebook</h2>
            <a
              href=" https://www.facebook.com/goITclub/ "
              class="footer-social-link"
              target="_blank"
              rel="noopener noreferrer"
            >
            </a>
          </li>
           <li class="footer-social-item"></li>
            <h2 class="footer-title">LinkedIn</h2>
            <a
              href=" https://www.linkedin.com/school/goit-start-your-career-in-it  "
              class="footer-social-link"
              target="_blank"
              rel="noopener noreferrer"
            >
            </a>
          </li>
           <li class="footer-social-item"></li>
            <h2 class="footer-title">GitHub</h2>
            <a
              href=" https://iryna-shenenko.github.io/Hermes/ "
              class="footer-social-link"
              target="_blank"
              rel="noopener noreferrer"
            >
            </a>
          </li>
        </ul>
    </div>
          
          <p class="footer-text">© Copyright 2024. Made by LloydJefferson</p>
    
    </div>
</footer> -->
