<header class="header">
  <div class="container-header">
    <!--Menu-->
    <nav class="header-menu">
      <a class="logo-link" href="./index.html"
        >Lloyd<span class="color-logo">Jefferson.</span></a
      >
      <!-- Theme switcher -->
      <div class="theme-switch__control">
        <input
          class="theme-switch__toggle"
          type="checkbox"
          name="theme"
          id="theme-switch-toggle"
          aria-label="switch between dark and light theme"
        />
        <label
          aria-hidden="true"
          class="theme-switch__track"
          for="theme-switch-toggle"
        >
        </label>
        <div aria-hidden="true" class="theme-switch__marker"></div>
      </div>
      <ul class="menu menu-container">
        <li><a href="#about-me" class="menu-link">About me</a></li>
        <li><a href="#my-projects" class="menu-link">Projects</a></li>
        <li><a href="#work-together" class="menu-link">Contacts</a></li>
      </ul>

      <div class="navigation">
        <button class="open-header-menu-button" type="button">
          <svg class="open-menu" width="22" height="16">
            <use
              class="icon-color"
              href="/img/icons-light.svg#icon-burger"
            ></use>
          </svg>
        </button>
      </div>
    </nav>
  </div>
</header>

<!--MENU-HEADER -->

<div class="menu-header">
  <div class="menu-header-open">
    <a class="logo-link" href="./index.html"
      >Lloyd<span class="color-logo">Jefferson.</span></a
    >
    <button class="close-button" type="button">
      <svg class="close-icon" width="16" height="16">
        <use href="/img/icons-light.svg#icon-close-content"></use>
      </svg>
    </button>

    <ul class="menu menu-header-list">
      <li><a href="#about-me" class="menu-header-link">About me</a></li>
      <li><a href="#my-projects" class="menu-header-link">Projects</a></li>
      <li><a href="#work-together" class="menu-header-link">Contacts</a></li>
    </ul>
  </div>
</div>
