<section class="hero">
  <div class="hero-info">
    <h1 class="hero-title-first">
      Hello, I am
      <img class="hero-person" src="../img/hero/person.png" alt="person" />
      <br />
      <span class="hero-title">Fullstack developer</span>
    </h1>
    <div class="hero-box">
      <div class="hero-btn">
        <a href="#work-together" class="hero-link">
          <svg class="icon-arrow" width="20" height="20">
            <use href="../img/icons-light.svg#icon-email"></use>
          </svg>
          ORDER THE PROJECT
        </a>
        <div class="hero-decor-div"></div>
      </div>
      <p class="hero-p">
        I work with people all over the world to create
        <span class="hero-span">impressive</span> and
        <span class="hero-span">functional websites</span> that reflect each
        client’s unique personality.
      </p>
    </div>
  </div>

  <div class="hero-list">
    <ul>
      <li class="hero-item">
        <a href="https://www.instagram.com/goitclub/">Instagram</a>
      </li>
      <li class="hero-item">
        <a href="https://www.facebook.com/goITclub/">Facebook</a>
      </li>
      <li class="hero-item">
        <a href="https://www.linkedin.com/school/goit-start-your-career-in-it"
          >Linkedin</a
        >
      </li>
      <li class="hero-item last">
        <a href="https://github.com/Iryna-Shenenko/Hermes">GitHub</a>
      </li>
    </ul>
  </div>
</section>
