<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My-project</title>
    <script src="../js/my_project.js" type="module" defer></script>
    <link rel="stylesheet" href="../css/my-projects.css" />
</head>
<body>
        <div class="myprojects-conteiner">
            <h2 class="myprojects-title">my <span class="myprojects-title-span">projects</span></h2>
            <ul class="myprojects-list-galery"></ul>
            <button class="myprojects-button-load">load more
                <svg class="myprojects-svg-load" width="107" height="2">
                    <use href="../img/myprojects.svg#icon-Arrow-1"></use>
                </svg>
            </button>
        </div>    
</body>
</html>

