<section id="my-projects">
  <div class="container my-projects-container">
    <h2 class="section-title my-projects-title">
      My <span class="projects-title">projects</span>
    </h2>
    <ul class="projects-list">
      <li class="projects-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/my-projects/finances-desk.jpg    1x,
              /img/my-projects/finances-desk@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/my-projects/Finances-tub.jpg    1x,
              /img/my-projects/finances-tub@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/my-projects/discover-mobil.jpg    1x,
              /img/my-projects/finances-mobil@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            class="projects-img-list"
            src="/img/my-projects/finances-desk.jpg"
            alt="Wallet webservice"
            loading="lazy"
          />
        </picture>
        <p class="projects-subtitle">React, JavaScript, Node JS, Git</p>
        <div class="projects-wallet-container">
          <h3 class="section-subtitle projects-name">Wallet webservice</h3>
          <div class="projects-btn-container">
            <a
              class="btn projects-visiting-btn"
              href="https://github.com/Iryna-Shenenko"
              aria-label="hermes"
              target="_blank"
            >
              VISIT
              <svg
                class="projects-arrow-svg"
                width="24px"
                height="24px"
                aria-label="projects-site"
              >
                <use
                  href="/img/my-projects/arrow-rigth.svg#icon-Vector-24-1"
                ></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="projects-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/my-projects/veget-deck.jpg    1x,
              /img/my-projects/veget-deck@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/my-projects/veget-tublet.jpg    1x,
              /img/my-projects/veget-tublet@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/my-projects/veget-deck.jpg    1x,
              /img/my-projects/veet-mobil@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            class="projects-img-list"
            src="/img/my-projects/veget-deck.jpg"
            alt="Green harvest webservice"
            loading="lazy"
          />
        </picture>
        <p class="projects-subtitle">React, JavaScript, Node JS, Git</p>
        <div class="projects-wallet-container">
          <h3 class="section-subtitle projects-name">
            Green harvest webservice
          </h3>
          <div class="projects-btn-container">
            <a
              class="btn projects-visiting-btn"
              href="https://github.com/Iryna-Shenenko"
              aria-label="hermes"
              target="_blank"
            >
              VISIT
              <svg
                class="projects-arrow-svg"
                width="24px"
                height="24px"
                aria-label="projects-site"
              >
                <use
                  href="/img/my-projects/arrow-rigth.svg#icon-Vector-24-1"
                ></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="projects-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/my-projects/discover-desk.jpg    1x,
              /img/my-projects/finances-desk@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/my-projects/discaver-tub.jpg    1x,
              /img/my-projects/discaver-tub@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/my-projects/discover-mobil.jpg    1x,
              /img/my-projects/discover-mobil@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            class="projects-img-list"
            src="/img/my-projects/discover-desk.jpg"
            alt="English Exellence website"
            loading="lazy"
          />
        </picture>
        <p class="projects-subtitle">React, JavaScript, Node JS, Git</p>
        <div class="projects-wallet-container">
          <h3 class="section-subtitle projects-name">
            English Exellence website
          </h3>
          <div class="projects-btn-container">
            <a
              class="btn projects-visiting-btn"
              href="https://github.com/Iryna-Shenenko"
              aria-label="hermes"
              target="_blank"
            >
              VISIT
              <svg
                class="projects-arrow-svg"
                width="24px"
                height="24px"
                aria-label="projects-site"
              >
                <use
                  href="/img/my-projects/arrow-rigth.svg#icon-Vector-24-1"
                ></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="projects-visually-hidden projects-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/my-projects/body-desk.jpg    1x,
              /img/my-projects/body-desk@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/my-projects/body-tub.jpg    1x,
              /img/my-projects/body-tub@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/my-projects/body-mobil.jpg    1x,
              /img/my-projects/body-mobil@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            class="projects-img-list"
            src="/img/my-projects/body-desk.jpg"
            alt="power pulse webservice"
            loading="lazy"
          />
        </picture>
        <p class="projects-subtitle">React, JavaScript, Node JS, Git</p>
        <div class="projects-wallet-container">
          <h3 class="section-subtitle projects-name">power pulse webservice</h3>
          <div class="projects-btn-container">
            <a
              class="btn projects-visiting-btn"
              href="https://github.com/Iryna-Shenenko"
              aria-label="hermes"
              target="_blank"
            >
              VISIT
              <svg
                class="projects-arrow-svg"
                width="24px"
                height="24px"
                aria-label="projects-site"
              >
                <use
                  href="/img/my-projects/arrow-rigth.svg#icon-Vector-24-1"
                ></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="projects-visually-hidden projects-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/my-projects/fresh-desk.jpg    1x,
              /img/my-projects/fresh-desk@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/my-projects/fresh-mobil.jpg  1x,
              /img/my-projects/fresh-tub@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/my-projects/fresh-mobil.jpg       1x,
              /img/my-projects/finances-mobil@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            class="projects-img-list"
            src="/img/my-projects/fresh-desk.jpg"
            alt="fruitbox online store"
            loading="lazy"
          />
        </picture>
        <p class="projects-subtitle">React, JavaScript, Node JS, Git</p>
        <div class="projects-wallet-container">
          <h3 class="section-subtitle projects-name">fruitbox online store</h3>
          <div class="projects-btn-container">
            <a
              class="btn projects-visiting-btn"
              href="https://github.com/Iryna-Shenenko"
              aria-label="hermes"
              target="_blank"
            >
              VISIT
              <svg
                class="projects-arrow-svg"
                width="24px"
                height="24px"
                aria-label="projects-site"
              >
                <use
                  href="/img/my-projects/arrow-rigth.svg#icon-Vector-24-1"
                ></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="projects-visually-hidden projects-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/my-projects/traditional-desk.jpg    1x,
              /img/my-projects/traditional-desk@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/my-projects/traditional-tub.jpg    1x,
              /img/my-projects/traditional-tub@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/my-projects/traditional-mobil.jpg    1x,
              /img/my-projects/traditional-mobil@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            class="projects-img-list"
            src="/img//my-projects/traditional-desk.jpg"
            alt="vyshyvanka vibes Landing Page"
            loading="lazy"
          />
        </picture>
        <p class="projects-subtitle">React, JavaScript, Node JS, Git</p>
        <div class="projects-wallet-container">
          <h3 class="section-subtitle projects-name">
            vyshyvanka vibes Landing Page
          </h3>
          <div class="projects-btn-container">
            <a
              class="btn projects-visiting-btn"
              href="https://github.com/Iryna-Shenenko"
              aria-label="hermes"
              target="_blank"
            >
              VISIT
              <svg
                class="projects-arrow-svg"
                width="24px"
                height="24px"
                aria-label="projects-site"
              >
                <use
                  href="/img/my-projects/arrow-rigth.svg#icon-Vector-24-1"
                ></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="projects-visually-hidden projects-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/my-projects/turn-desk.jpg    1x,
              /img/my-projects/turn-desk@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/my-projects/turn-tab.jpg    1x,
              /img/my-projects/turn-tub@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/my-projects/turn-mobil.jpg    1x,
              /img/my-projects/turn-mobil@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            class="projects-img-list"
            src="/img/my-projects/turn-desk.jpg"
            alt="starlight studio landing page"
            loading="lazy"
          />
        </picture>
        <p class="projects-subtitle">React, JavaScript, Node JS, Git</p>
        <div class="projects-wallet-container">
          <h3 class="section-subtitle projects-name">
            starlight studio landing page
          </h3>
          <div class="projects-btn-container">
            <a
              class="btn projects-visiting-btn"
              href="https://github.com/Iryna-Shenenko"
              aria-label="hermes"
              target="_blank"
            >
              VISIT
              <svg
                class="projects-arrow-svg"
                width="24px"
                height="24px"
                aria-label="projects-site"
              >
                <use
                  href="/img/my-projects/arrow-rigth.svg#icon-Vector-24-1"
                ></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="projects-visually-hidden projects-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/my-projects/organic-desk.jpg   1x,
              /img/my-projects/nature-desk@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/my-projects/natuer-tub.jpg    1x,
              /img/my-projects/nature-tub@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/my-projects/nature-mobil.jpg    1x,
              /img/my-projects/nature-mobil@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            class="projects-img-list"
            src="/img/my-projects/nature-desk.jpg"
            alt="chego jewelry website"
            loading="lazy"
          />
        </picture>
        <p class="projects-subtitle">React, JavaScript, Node JS, Git</p>
        <div class="projects-wallet-container">
          <h3 class="section-subtitle projects-name">chego jewelry website</h3>
          <div class="projects-btn-container">
            <a
              class="btn projects-visiting-btn"
              href="https://github.com/Iryna-Shenenko"
              aria-label="hermes"
              target="_blank"
            >
              VISIT
              <svg
                class="projects-arrow-svg"
                width="24px"
                height="24px"
                aria-label="projects-site"
              >
                <use
                  href="/img/my-projects/arrow-rigth.svg#icon-Vector-24-1"
                ></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="projects-visually-hidden projects-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/my-projects/mimino-desk.jpg    1x,
              /img/my-projects/mimino-desk@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/my-projects/mimino-tub.jpg    1x,
              /img/my-projects/mimino-tub@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/my-projects/mimino-mobil.jpg    1x,
              /img/my-projects/mimino-mobil@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            class="projects-img-list"
            src="/img/my-projects/mimino-desk.jpg"
            alt="mimino website"
            loading="lazy"
          />
        </picture>
        <p class="projects-subtitle">React, JavaScript, Node JS, Git</p>
        <div class="projects-wallet-container">
          <h3 class="section-subtitle projects-name">mimino website</h3>
          <div class="projects-btn-container">
            <a
              class="btn projects-visiting-btn"
              href="https://github.com/Iryna-Shenenko"
              aria-label="hermes"
              target="_blank"
            >
              VISIT
              <svg
                class="projects-arrow-svg"
                width="24px"
                height="24px"
                aria-label="projects-site"
              >
                <use
                  href="/img/my-projects/arrow-rigth.svg#icon-Vector-24-1"
                ></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="projects-visually-hidden projects-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/my-projects/get-desk.jpg    1x,
              /img/my-projects/get-desk@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/my-projects/get-tub.jpg    1x,
              /img/my-projects/get-tub@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/my-projects/get-mobil.jpg    1x,
              /img/my-projects/get-mobil@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            class="projects-img-list"
            src="/img/my-projects/get-desk.jpg"
            alt="energy flow webservice"
            loading="lazy"
          />
        </picture>
        <p class="projects-subtitle">React, JavaScript, Node JS, Git</p>
        <div class="projects-wallet-container">
          <h3 class="section-subtitle projects-name">energy flow webservice</h3>
          <div class="projects-btn-container">
            <a
              class="btn projects-visiting-btn"
              href="https://github.com/Iryna-Shenenko"
              aria-label="hermes"
              target="_blank"
            >
              VISIT
              <svg
                class="projects-arrow-svg"
                role="button"
                tabindex="0"
                width="24px"
                height="24px"
                aria-label="projects-site"
              >
                <use
                  href="/img/my-projects/arrow-rigth.svg#icon-Vector-24-1"
                ></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
    </ul>
    <div class="projects-button-container">
      <button
        type="button"
        class="projects-load-button"
        id="projects-more-btn"
        aria-label="load more projects"
      >
        Load More
      </button>
    </div>
  </div>
</section>
