<section id="reviews">
  <div class="container">
    <p class="reviews-title">REVIEWS</p>
    <div class="">
      <div class="swiper">
        <ul class="swiper-wrapper reviews-list"></ul>
      </div>
    </div>
    <div class="nav-arrows">
      <div
        class="nav-arrow-prev"
        role="button"
        tabindex="0"
        aria-label="Previous slide"
      >
        <svg class="arrow-icon" width="40" height="40">
          <use xlink:href="/img/arrow.svg#icon-Arrow-1" />
        </svg>
      </div>
      <div
        class="nav-arrow-next"
        role="button"
        tabindex="0"
        aria-label="Next slide"
      >
        <svg class="arrow-icon" width="40" height="40">
          <use xlink:href="/img/arrow.svg#icon-Arrow-1" />
        </svg>
      </div>
    </div>
  </div>
</section>
