<section id="reviews">
  <div class="container">
    <div class="reviews-title-container">
    <h2 class="reviews-title">REVIEWS</h2></div>
    <div>
      <div class="swiper">
        <ul class="swiper-wrapper reviews-list"></ul>
      </div>
    </div>
    <div class="nav-arrows">
      <button
        class="nav-arrow-prev"
        type="button"
        tabindex="0"
        aria-label="Previous slide"
      >
        <svg class="arrow-icon" width="24" height="24">
          <use xlink:href="/img/arrow.svg#icon-Arrow-1" />
        </svg>
      </button>
      <button
        class="nav-arrow-next"
        type="button"
        tabindex="0"
        aria-label="Next slide"
      >
        <svg class="arrow-icon" width="24" height="24">
          <use xlink:href="/img/arrow.svg#icon-Arrow-1" />
        </svg>
      </button>
    </div>
  </div>
</section>
