<section id="reviews">
  <div class="reviews-wrap">
    <p class="reviews-title">REVIEWS</p>
    <div class="container">
      <div class="swiper">
        <ul class="swiper-wrapper reviews-list"></ul>
      </div>
    </div>
    <div class="nav-arrows">
      <div class="nav-arrow-prev">
        <svg class="arrow-icon" width="40" height="40">
          <use
            xlink:href="../img/icons-light.svg#icon-arrow-right"
            x="-15%"
            y="0%"
          />
        </svg>
      </div>
      <div class="nav-arrow-next">
        <svg class="arrow-icon" width="40" height="40">
          <use
            xlink:href="../img/icons-light.svg#icon-arrow-right"
            x="-15%"
            y="0%"
          />
        </svg>
      </div>
    </div>
  </div>
</section>
