<section class="tech-skills">
  <div class="box-line">
    <h2 class="visually-hidden">Tech Skills</h2>
    <!-- Первая бегущая строка -->
    <div class="running-line">
      <div class="experience">
        <p class="running-text">
          <span class="dot"></span> HTML/CSS
          <span class="dot"></span> JAVASCRIPT <span class="dot"></span> REACT
          <span class="dot"></span> NODE.JS <span class="dot"></span> REACT
          NATIVE <span class="dot"></span> TYPESCRIPT
        </p>
      </div>
    </div>

    <!-- Вторая бегущая строка -->
    <div class="running-line second-line">
      <div class="experience reverse">
        <p class="running-text second-text">
          <span class="dot black-dot"></span> HTML/CSS
          <span class="dot black-dot"></span> JAVASCRIPT
          <span class="dot black-dot"></span> REACT
          <span class="dot black-dot"></span> NODE.JS
          <span class="dot black-dot"></span> REACT NATIVE
          <span class="dot black-dot"></span> TYPESCRIPT
        </p>
      </div>
    </div>
  </div>
</section>
