<section class="work-together" id="work-together">
  <div class="container work-together-container">
    <h1 class="section-heading">
      let's&nbsp;<span class="heading-green">work together</span>
    </h1>
    <div class="desctop-row">
      <div class="desktop-present">
        <p class="text-content">
          Contact me to transform your ideas into exceptional solutions.
        </p>
        <address class="contacts-wt">
          <ul class="contacts-section">
            <li class="contacts-item">
              <svg class="svg-icon" width="24" height="24">
                <use href="/img/icons-light.svg#icon-telefhone"></use>
              </svg>
              <a href="tel:380904567890" class="contacts-link"
                >+38 090 456 78 90</a
              >
            </li>
            <li class="contacts-item">
              <svg class="svg-icon" width="24" height="24">
                <use href="/img/icons-light.svg#icon-email"></use>
              </svg>
              <a href="mailto:lloydjefferson@gmail.com" class="contacts-link"
                >lloydjefferson@gmail.com</a
              >
            </li>
            <li class="contacts-item">
              <svg class="svg-icon" width="24" height="24">
                <use href="/img/icons-light.svg#icon-navigation-1"></use>
              </svg>
              <a
                href="https://maps.app.goo.gl/Yg95E26T66iXmwTa6"
                class="address-text contacts-link"
                target="_blank"
                >USA, New York</a
              >
            </li>
          </ul>
        </address>
      </div>
      <form class="contact-form" id="contact-form" autocomplete="off">
        <label for="user-email">
          <input
            type="email"
            class="email-input"
            name="user-email"
            pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
            title="Email is wrong"
            id="user-email"
            placeholder="Your email&#42;"
            maxlength="41"
            required
          />
        </label>
        <label for="message-description">
          <textarea
            rows="4"
            cols="20"
            class="message-text"
            name="message-description"
            id="message-description"
            placeholder="Message"
            maxlength="120"
          ></textarea>
        </label>
        <button type="submit" class="contact-btn" form="contact-form">
          Send message
        </button>
      </form>
    </div>
  </div>
</section>

<!-- Modal -->

<div class="modal-wt">
  <div class="wt-modal">
    <button type="button" class="work-btn">
      <svg class="work-icon" width="24" height="24">
        <use href="/img/icons-light.svg#icon-close-content"></use>
      </svg>
    </button>
    <div class="wt-container">
      <p class="wt-modal-title-text">
        Thank you for your interest in cooperation!
      </p>
      <p class="wt-text">
        The manager will contact you shortly to discuss further details and
        opportunities for cooperation. Please stay in touch.
      </p>
    </div>
  </div>
</div>
