<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
    <section><div class="container">
        <h1 class = "section-heading">let's&nbsp;<span class="heading-green">work together</span></h1>
        <div class="desktop-present">
    <p class="text-content">Contact me to transform your ideas into exceptional solutions.</p>
    <div class="miracle">
     <ul class="contacts-section">
        <li><span></span>+38 090 456 78 90</li>
        <li><span></span>lloydjefferson@gmail.com</li>
        <li><span></span>USA, New York</li>
    </ul>
     <form class="contact-form" id="contact-form" autocomplete="off">
        <label for="user-email">
            <input type="email" class="email-input" name="user-email" pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" title="Email is wrong" id="user-email" placeholder="Your email&#42;" maxlength="41" required>
        </label>
        <label for="contact-description">
            <textarea rows="4" cols="20" class="message-text" name="message-description" id="message-description" placeholder="Message" maxlength="120"></textarea>
        </label>
        <button type="submit" class="contact-btn" form="contact-form">Send message</button>
    </form>
</div>
    </div></section>
</body>
</html>