<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
    <section><div class="container">
        <h1 class = "section-heading">let's <span class="heading-green">work together</span></h1>
    <p>Contact me to transform your ideas into exceptional solutions.</p>
    <ul>
        <li><span></span>+38 090 456 78 90</li>
        <li><span></span>lloydjefferson@gmail.com</li>
        <li><span></span>USA, New York</li>
    </ul>
    <form class="contact-form" id="" autocomplete="off">
        <label for="user-email">
            <input type="email" class="contact-input" name="user-email" pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" title="Email is wrong" id="user-email" placeholder="Email" maxlength="41" required>
        </label>
        <label for="contact-description">
            <textarea rows="4" cols="20" class="contact-text" name="contact-description" id="contact-description" placeholder="Comment" maxlength="120"></textarea>
        </label>
        <button type="submit" class="contact-btn" form="contact-form">Send</button>
    </form>
    </div></section>
    
    
</body>
</html>