.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;


}

@media only screen and (min-width: 360px) {
    .container {
        max-width: 360px;
        margin: 0 auto;
        /* padding-top: 80px; */
        padding-left: 20px;
        padding-right: 20px;

    }
}


@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        /* padding-top: 124px; */
        padding-left: 32px;
        padding-right: 32px;

    }
}

@media only screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        /* padding-top: 164px; */

    }
}