.dark-theme a {
    color: #fff;
}

/* mobil */
#footer {
    padding-top: 40px;
    padding-bottom: 24px;
}

.footer-conteiner {
    border-top: 1px solid #e4e5e6;
    padding-left: 32px;
    padding-right: 32px;

}

.text-color {
    font-family: "Impact", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #00b068;
}

.footer-logo {
    font-family: "Impact", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #292929;
    display: inline-block;
    padding-top: 40px;
}

.footer-logo-socials {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.footer-socials-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.footer-social-link {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #292929;

}

.footer-social-link:hover,
.footer-social-link:focus {
    color: #00b068;
}

.footer-text {
    color: #292929;
    text-align: center;
    max-width: 180px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .footer-logo-socials {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 40px;
    }

    .footer-socials-list {
        display: flex;
        flex-direction: row;
        gap: 24px;

    }

    .footer-logo {
        margin-bottom: 0;
    }

    .footer-text {
        max-width: 100%;
        text-align: right;
    }
}

@media screen and (min-width: 1280px) {
    .footer-logo-socials {
        display: flex;
        flex-direction: row;
    }

    .footer-socials-list {
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin: 0;
        margin-left: auto;
    }

    .footer-text {
        text-align: right;
    }
}