body.light-theme .header {
  background-color: #f0f0f0;
  color: #333333;
  stroke: #292929;
}

body.dark-theme .header {
  background-color: #1E2023;
  color: #fff;
  stroke: #fff;
}

/*------ THEME SWITCH------- */
.theme-switch__control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 46px;
  height: 20px;
  border-radius: 16px;
  margin-left: 22px;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: #e4e5e6;
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.theme-switch__marker {
  position: relative;
  background-color: #00b068;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  z-index: 2;
  pointer-events: none;
  transition: transform 250ms var(--timing-function);
}

.theme-switch__toggle:checked+.theme-switch__track {
  background-color: #204136;
}

.theme-switch__toggle:checked~.theme-switch__marker {
  transform: translateX(28px);
}

.theme-switcher {
  display: block;
  border-radius: 16px;
  width: 48px;
  height: 24px;
  background: #e4e5e6;
  transition: background-color 0.25s ease;
}

.theme-switcher:hover {
  background-color: #008000;
}


/*---------HEADER---------- */
.header {
  display: block;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-link {
  font-family: "Impact", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* color: #292929; */
}

.color-logo {
  color: #00b068;
}

.menu {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  /* color: #292929; */
}

.menu-container {
  display: none;
}

.header-menu .menu-link:hover,
.header-menu .menu-link:focus,
.menu-header .menu-header-link:hover,
.menu-header .menu-header-link:focus {
  color: #00b068;
}

.open-header-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-color: transparent;
  line-height: 0;
  border: none;
}

.open-menu {
  stroke-width: 2px;
  /* stroke: #292929; */
}

.menu-header.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}


/* ------------MENU-HEADER------------------ */
.menu-header {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  /* background-color: #fbfbfb; */
  pointer-events: none;
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Світла тема для модального вікна */
.menu-header.light-theme {
  background-color: #f0f0f0;
  color: #292929;
}

/* Темна тема для модального вікна */
.menu-header.dark-theme {
  background-color: #1E2023;
  color: #ffffff;
}

.menu-header-open {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* background-color: #fbfbfb; */
  background-image: url(/img/header/top-header1x.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
}

.close-button {
  position: absolute;
  top: 16px;
  right: 20px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  border: none;
}

.close-icon {
  stroke-width: 2px;
  /* stroke: #292929; */
}

.menu-header-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: auto;
}

/* ------------MEDIA------------------ */

@media (min-width: 360px) and (max-width: 767px) {
  .theme-switch__control {
    margin-left: 60px;
  }

  .close-button {
    margin-left: auto;
  }
}

@media (min-width: 768px) {
  .menu-container {
    display: flex;
    flex-direction: row;
    text-wrap: nowrap;
    gap: 40px;
    margin-left: 20px;
  }

  .theme-switch__control {
    margin-left: 44px;
    width: 48px;
    height: 24px;
  }

  .theme-switch__marker {
    width: 20px;
    height: 20px;
  }

  .container-header {
    padding: 32px 0;
  }

  .menu-header {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .logo-link {
    font-size: 32px;
    letter-spacing: 0.05em;
  }

  .open-menu {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .theme-switch__control {
    margin-left: 560px;
  }
}