#reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 80px;
  margin-bottom: 80px; */
  min-height: 464px;
  padding-top: 80px;
}

.not-found {
  font-family: "Poppins";
  display: flex;
  justify-content: center;
}

.swiper-slide {
  height: unset !important;
}

.reviews-wrap {
  display: flex;
  justify-content: center;
  border-radius: 16px;
  padding: 32px;
  width: 320px;
  min-height: 296px !important;
  background-color: #e4e5e6;
}

.dark-theme .reviews-wrap {
  background-color: #2a2d32;
}

/* .container {
  max-width: 320px;
} */

.reviews-title {
  display: flex;
  justify-content: center;
  font-family: "Impact";
  font-weight: 400;
  font-size: 52px;
  line-height: 123%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: black;
  margin-bottom: 40px;
}

.reviews-list {
  display: flex;
}

.reviews-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.reviews-credentials {
  display: flex;
  align-items: center;
  gap: 16px;
}

.reviews-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.reviews-text {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: black;
}

.reviews-author {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: black;
}

.nav-arrows {
  margin-top: 24px;
  gap: 16px;
  display: flex;
  justify-content: end;
}

.nav-arrow-prev {
  transform: rotate(180deg);
}

.nav-arrow-next,
.nav-arrow-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  /* outline: none; */
}

.arrow-icon {
  border: 1px solid black;
  border-radius: 8px;
}

.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  #reviews{
    padding-top: 124px;
  }
  .reviews-title {
    font-weight: 400;
    font-size: 108px;
    line-height: 1.14815;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #292929;
    margin-bottom: 60px;
  }

  .reviews-wrap {
    border-radius: 16px;
    padding: 32px;
    width: 704px;
    height: 224px;
  }

  /* .nav-arrows {
    /* margin-top: -2px; */

}

@media only screen and (min-width: 1280px) {

  /* .nav-arrows {
    margin-top: -25px; */
#reviews {
    padding-top: 164px;
  }

  .reviews-list {
    width: 1216px;
    height: 224px;
    justify-content: space-between;
  }

  .reviews-wrap {
    width: 592px;
  }
}